.carousel {
    margin-bottom: 50px;
 
}
.contentWrapper {
    position: relative;
}
.carouselTitle {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
}
.arrow {
    background-color: aqua;
    font-size: 30px;
    color: rgb(80, 78, 78);
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100000;
}

.carouselLeftNav {
    left: 30px;
}
.carouselRighttNav {
    right: 30px;
}

  


.posterBlock {
    border-radius: 12px;
    width: 100%;
    

    display: flex;

    flex-direction: row;
}
.textBlock {
    
}
    .title {
        /* width: 100%; */
        /* height: 20px; */
        /* margin-bottom: 10px; */
        
    }
    .date {
        /* width: 75%; */
        /* height: 20px; */
    }
   
 .carouselItems  {
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow-y: hidden;
        margin-right: -20px;
        margin-left: -20px;
        padding: 0 20px;
        background-color: #000;
    }
.carouselItem {
width: 15px;
cursor: pointer;
}
.posterBlock {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
  
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    
    background-color: rgb(16, 15, 15);
}

.img-poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    
}

        .circleRating {
            width: 40px;
            height: 40px;
            position: relative;
            top: 30px;
            background-color: white;
            flex-shrink: 0;
        }
        .genres {
            display: none;
            position: relative;
            
        }
    
    .textBlock {
        color: white;
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        margin-bottom: 10px;
    }

        
        .date-m {
            font-size: 14px;
            opacity: 0.5;
            color: aliceblue;
            margin: 12px;
        

        }
