
.detailsBanner {
    width: 100%;
    background-color: var(--black);
    padding-top: 100px;
    margin-bottom: 50px;
    
  
   
}

.detailsBanner .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    overflow: hidden;
}
.detailsBanner .lazy-load-image-background {
    width: 100%;
    height: 100%;
}
.detailsBanner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
       
    
.opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(
        180deg,
        rgba(4, 21, 45, 0) 0%,
        #04152d 79.17%
    );
    position: absolute;
    bottom: 0;
    left: 0;
}

.detailsBanner .contenttt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    gap: 25px;
    
    width: 100%;

    
}

.left {

}
.posterImg {
    
    display: block;
    border-radius: 12px;
    background-color: black;
}

.right {
color: rgb(255, 255, 255);

}
.title {
    font-size: 28px;
    line-height: 40px;
    margin-top: 10px;
}
.subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-style: italic;
    opacity: 0.5;
}

.overview {
    margin-bottom: 25px;
    margin-top: 30px;
}
    .heading {
        font-size: 24px;
        margin-bottom: 10px;
    }
.description {
    line-height: 24px;
}
.detailsBanner .circleRating {
    max-width: 70px;
    background-color: var(--black2);
}
.CircularProgressbar-text {
    fill: white;
}
.playbtn {
display: flex;
align-items: center;
gap: 20px;
cursor: pointer;
}
.text {
    font-size: 15px;
    transition: all 0.7s ease-in-out;
}
.triangle {
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: white;
    transform: translateY(0);
    transition: all 0.7s ease-in-out;
}
.circle {
    background-color: rgb(0, 123, 230);
    stroke: white;
    stroke-dasharray: 650;
    stroke-dashoffset: 1300;
    transition: all 0.5s ease-in-out;
}
.playbtn:hover{
    .text{
        color: var(--pink);
        
    }
    .triangle {
        stroke-dashoffset: 0;
        opacity: 1;
        animation: trailorPlay 0.7s ease-in-out;
    }
    .circle {
        stroke-dashoffset: 0;
    }
} 
            
.row {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}

.info {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    display: flex;
}
.infoItem {
    /* background-color: rgb(90, 90, 90); */
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
}
.text-btn{
    opacity: 0.5;
    line-height: 24px;
}
.detailsBannerSkeleton {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 25px;
}
.contentWrapper {
    display: flex;
    gap: 50px;
}
        /* img  */
.left {
    flex-shrink: 0;
    width: 300px;
    display: block;
    border-radius: 12px;
    aspect-ratio: 1/1.5;
    height: 450px;
}
.right {
 width: 100%;

}
.row {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.svgg{
width: 41px;


}
@media screen and (max-width:700px) {
    .detailsBanner .contenttt {
        display: flex;       
       flex-wrap: wrap;

    }
    .subtitle {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 40px;
        margin-top: 80px;
        font-style: italic;
        opacity: 0.5;
    }
  
}