.circleRating {
    /* background-color: var(--black); */
    /* border-radius: 50px; */
    border-radius: 26px;
    padding: 1px;
}
    .CircularProgressbar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--black);
    }
    .CircularProgressbar-trail {
        stroke: transparent;
    }
