
.explorePage {
    min-height: 700px;
    padding-top: 100px;
}
.resultNotFound {
    font-size: 24px;
    color: var(--black-light);
}
.continer{
    display: flex;flex-direction: column;
}
.pageHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 25px;
    transition: .3s;
 
}
.pageTitle {
    font-size: 24px;
    line-height: 34px;
    color: white;
    margin-bottom: 20px;
}
.filters {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: column;
} 
.react-select-container {
 width: 300px;
 position: relative;
&.genresDD {
    width: 100%;
    width: 300px;
    
}
.sortbyDD {
    width: 100%;
    flex-shrink: 0;
    color: aliceblue;
}
.react-select__control {
    border: 0;
    outline: 0;
    box-shadow: none;
    background-color: var(--black-light);
    border-radius: 20px;
    color: aliceblue;
}
.react-select__value-container ,
    .react-select__placeholder,
        .react-select__input-container {
        color: white;
        margin: 0 10px;
    }
}
.react-select__single-value {
    color: white;
  
}
.react-select__multi-value {
    background-color: var(--black3);
    border-radius: 10px;
}
.react-select__multi-value__label {
    color: white;
}
.react-select__multi-value__remove {
    background-color: transparent;
    color: white;
    cursor: pointer;
}
&:hover {
    color: var(--black-lighter);
}
.react-select__menu {
    top: 40px;
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 50px;
   
}

.movieCard .posterBlock {
    margin-bottom: 30px;
    
}

@media screen and (max-width:500px) {

    .pageHeader {
        display: flex;
       flex-wrap: wrap;
      
    }

}