
.movieCard {
    cursor: pointer;
    flex-shrink: 0;
    margin: auto;
    width: 245px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(12rem, 1fr));
}
 .movieCard .posterBlock {
    width: 100%;
    transition: all ease 0.5s;
}

.movieCard img {
    width: 220px;
    height: 330px;
    object-fit: cover;
    margin-bottom: -10px;
    object-position: center
}
    .movieCard .circleRating {
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    display: flex;
    flex-shrink: 0;
}

.movieCard .textBlock {
    color: white;
    display: flex;
    flex-direction: column;
}
.movieCard .title {
    font-size: 16px;
    line-height: 17px;
    margin: -5px;
}
.movieCard .date {
    font-size: 15px;
    opacity: 0.5;
    margin-top: 20px;
    background-color: transparent;
    margin-top: 30px;

}
    
img:hover {
            opacity: 0.5;
       
    }
